{% extends "master.html" %}

{% block title %}
    Patient : List of All Patients 
{% endblock %}

{% block content %}

<center>
    <div>
    <h1>Chatbot Settings</h1>
    <table class="blueTable" style="width:80%">
    <thead class="blueTable">
    <tr>
    <th>ID</th>
    <th>Question</th>
    <th>Answer</th>
    
    </tr>
    </thead>                
<tfoot>
<tr>
<td colspan="3">
<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
</td>
</tr>
</tfoot>
    <tbody>    
     {% for x in record1 %}
        <tr>
        <td onclick="window.location = 'patientdetails/{{ x.id }}'">{{ x.id }}</td>
           <td>{{ x.question }}</td><td>{{x.answer}}</td>
        </tr>    
      {% endfor %}
        </tbody>
    </table>
    </div>
</center>
 

{% endblock %}
{% block message %}
<hr>

<hr>
{% endblock %}